.paddings {
	margin: 5% 8% 4% 8%;
}

.clickable-row {
	cursor: pointer;
}

.center {
	text-align: center;
}

body {
	background-color: #e4e4e4;
}

textarea {
	resize: none;
}

.margin-up-btn {
	margin-top: 5px;
}

.picture-size {
	width: 250px;
	height: 250px;
}
